<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <title>All tours</title>
</head>
<body style="background-color: rgb(198, 165, 102);">
    <header class="company-header">
        <div class="image" id="Home">
        <img class="company-img" src="" alt="" style="width:100%;">
        <div class=block_navigation></div>
        <div>
            <section class="tour_info">
                {% for tour in tours %}
                <section class="tour_gallery">

                    <section class="foto_bit">
                        <img width="400" height="250" src="{{ tour.image.url }}" alt="">
                    </section>
                    Ціна: {{ tour.price }}<br>
                    Кількість ночей: {{ tour.nightamount }}<br>
                    Назва туру: {{ tour.name }}<br>
                    <a class="more_button" href="{% url 'tourshow' tour.pk %}">
                        More...
                    </a>

                </section>
                {% endfor %}
            </section>
        </div>
            <div class = "Navigation">
                <nav class="panel1">

                    <a href="{% url 'ticketfilter' %}" id="nav_About_Us">Search</a> &nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="{% url 'alltours' %}" id="nav_Our_projects">All tours</a>&nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="{% url 'logout_user' %}" id="nav_contacts">Log Out</a>&nbsp;&nbsp;&nbsp;&nbsp;

                </nav>
            </div>
        </div>
    </header>
</body>
</html>