<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <title>Main page</title>
</head>
<body>
    <header class="company-header">
        <div>
        <img class="company-img" src="{% static  '/img/mainpage.jpg' %}" alt="mountains" style="width:100%;">
        <div class=block_navigation></div>
        <div class="Frst_name">
            <section class="container">
                <h1>
                  <span class="title">A TEAM OF PROFESSIONAL TRAVEL EXPERTS</span>
                  <span class="title">Trust Our Experience</span>
                </h1>
              </section>
              <section class="container1">
                <h1>
                  <span class="title" style="border-top: 2px solid; top: -100px; color: white;">Our company has been operating on the market for 10 years, we have a very wide selection of tours around the world and will be able to choose an individual tour for each. Thanks to the large number of reviews you can be sure that you can trust us and that choosing a tour with us you will not be mistaken with the choice</span>
                </h1>
              </section>
        </div>
            <div class = "Navigation">
                <nav class="panel1">

                    <a href="{% url 'hottourspage' %}" id="nav_About_Us" style="right: 1500px; position: absolute; top: 3px;"><img src="{% static 'img/logo-sun.png' %}" style="height: 50px; width: 50px; position: absolute; right: 140px; top: -6px;">HotTours</a> &nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="{% url 'allticketspage' %}" id="nav_contacts" style="right: 470px; position: absolute; display: inline-block; clear: both; white-space: nowrap;">Tickets history</a>&nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="{% url 'ticketfilter' %}" id="nav_About_Us">Search</a> &nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="{% url 'alltours' %}" id="nav_Our_projects">All tours</a>&nbsp;&nbsp;&nbsp;&nbsp

                    <a href="{% url 'logout_user' %}" id="nav_contacts">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;


                </nav>
            </div>
        </div>
    </header>
</body>
</html>