<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <title>Project</title>
</head>
<body>
    <header class="company-header">
        <div class="image" id="Home">
        <img class="company-img" src="{% static 'img/background-main.jpg' %} " alt="mountains" style="width:100%;">
        <div class=block_navigation></div>
        <div>
            <section class="tour_info">
                <form>
                    
                </form>
            </section>
        </div>
            <div class = "Navigation">
                <nav class="panel1">

                    <a href="#About Us" id="nav_About_Us">Search</a> &nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="#Our projects" id="nav_Our_projects">All tours</a>&nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="#Contacts" id="nav_contacts">Log Out</a>&nbsp;&nbsp;&nbsp;&nbsp;

                </nav>
            </div>
        </div>
    </header>
</body>
</html>