<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <title>Ticket buy</title>
</head>
<body style="background-color: rgb(198, 165, 102);">
    <header class="company-header">
        <div class="image" id="Home">
        <img class="company-img" src="" alt="" style="width:100%;">
        <div class=block_navigation></div>
        <div>
            <section class="tour_info">
                <h2 class="ticket_info" style="font-size:40px; margin-left: 750px; margin-top: -176px; position: absolute; color: white;">Buy ticket</h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div style="    margin-top: 50px;
    margin-left: 60px;
    width: 300px;
    background-color: rgba(58, 58, 58, 0.63);
    padding: 20px;
    border-radius: 15px;
    line-height: 35px;
    color: white;">
                        {{ form13.as_p }}
                            <input type="submit" value="Buy ticket" id="submit" style="
background: #0066A2;
color: white;
border-style: outset;
border-color: #0066A2;
height: 50px;
width: 100px;
font: bold15px arial,sans-serif;
text-shadow: none;
margin-top: 20px;
border-radius: 15px;
">


                    </div>

                    <section class="tour_gallery"  style="margin-left: 900px; top: -290px;">
                        <section class="foto_bit">
                            <img width="400" height="250" src="{{ tour.image.url }}" alt="">
                        </section>
                        Tour name: {{ tour.name }}<br>
                        <br>Price: {{ tour.price }}<br>
                        Night amount: {{ tour.nightamount }}<br>
                        Hotel name: {{ addinfo.hotel }}<br>
                        Hotel rating: {{ addinfo.rating }}<br>
                        Departure date: {{ departures.departuredate }}<br>
                        Departure place: {{ departures.departureplace }}<br><br>
                    </section>
                </form>
            </section>

        </div>
            <div class = "Navigation">
                <nav class="panel1">

                    <a href="{% url 'hottourspage' %}" id="nav_About_Us" style="right: 1500px; position: absolute; top: 3px;"><img src="{% static 'img/logo-sun.png' %}" style="height: 50px; width: 50px; position: absolute; right: 140px; top: -6px;">HotTours</a> &nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="{% url 'allticketspage' %}" id="nav_contacts" style="right: 470px; position: absolute; display: inline-block; clear: both; white-space: nowrap;">Tickets history</a>&nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="{% url 'ticketfilter' %}" id="nav_About_Us">Search</a> &nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="{% url 'alltours' %}" id="nav_Our_projects">All tours</a>&nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="{% url 'logout_user' %}" id="nav_contacts">Log Out</a>&nbsp;&nbsp;&nbsp;&nbsp;

                </nav>
            </div>
        </div>
    </header>
</body>
</html>