html {
    height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Yanone+Kaffeesatz&display=swap');
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
body{
    margin:0;
    background-color: rgb(0, 0, 0);
}
html {
    scroll-behavior: smooth;
}


.block_navigation{
    position: absolute;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.452);
    margin: auto;
    padding: auto;
    width: 1903px;
    height: 50px;
    top: 0px;
    left: 0;
}


.tour_info {
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    width: 1700px;
    height: 900px;
    display: block;
    position: absolute;
    font-family: "Montserrat", sans-serif, Arial, sans-serif;
      background-color: rgba(58, 58, 58, 0.63);;
      padding: 25px 10px 10px 10px;
      border-radius: 15px;
}

.tour_gallery{
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 14%;
    width: 400px;
    height: 400px;
    display: block;
    position: absolute;
      background-color: rgba(255, 255, 255, 0.719);;
      padding: 25px 10px 10px 10px;
      border-radius: 15px;
}

*,
*::before
*::after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
a{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Comfortaa', cursive;
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(131, 131, 131);
    font-size: 30px;
    letter-spacing: 0 10px;
}
a::after{
    content: "";
    position: absolute;
    background-color: #01b3a7;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
a:hover{
    color: rgb(255, 255, 255);
}

a:hover::after{
    width: 100%;
}
nav.panel1{
    position: absolute;
    margin-top: 80px;
    padding: auto;
}
nav.panel3{
    position: absolute;
    margin-top: 50px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(143, 143, 143, 0.192);
}

.more_button{
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 17px arial,sans-serif;
    text-shadow: none;
    margin-top: 20px;
    clear: both;
    transform: translate(-50%, -50%);
    top: 85%;
    left: 83%;
    display: block;
    position: absolute;
      padding: 10px 10px 10px 10px;
}

.Navigation{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Comfortaa', cursive;
    height: 100vh;
    width: max-content;
    min-width: 600px;
    display: flex ;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: -19px;
    letter-spacing: 2px;
    right: -15%;
    transform: translate(-50%, -50%);
    margin: auto;
}
.Navigation a{
    font-family: Georgia, 'Times New Roman', Times, serif;
}